RewriteEngine On # Turn on the rewriting engine
RewriteRule ^livro/?$ livro.php [NC,L]
RewriteRule ^livro/([0-9]+)/?$ livro.php?id=$1 [NC,L]
RewriteRule ^cliente/?$ cliente.php [NC,L]
RewriteRule ^cliente/([0-9]+)/?$ cliente.php?id=$1 [NC,L]