<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Vue.js</title>
</head>
<body>  

    
      <div id="app">
        <h1>{{title}}</h1>
        
         Matricula: <input type="text" v-model="matricula" v-on:keyup.enter="addTodo()"> <br>
         Nome: <input type="text" v-model="nome" v-on:keyup.enter="addTodo()"> <br>
         Telefone: <input type="text" v-model="telefone" v-on:keyup.enter="addTodo()"> <br>
         Pressione Enter ao preencher
        <ul>
            <li v-for="item in list">{{item.matricula}}{{item.nome}}{{item.telefone}}</li>
            
        </ul>
      </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./scripts.js"></script>
  <script type="text/javascript">
    



  </script>
</body>